<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.product_source.dao.DiseaseRecordMapper">
    <!--基础查询结果集-->
    <resultMap id="BaseResultMap" type="diseaseRecord">
        <id column="dr_id" property="drId"/>
        <result column="dr_animal_id" property="drAnimalId"/>
        <result column="dr_desc" property="drDesc"/>
        <result column="dr_cure" property="drCure"/>
        <result column="dr_time" property="drTime"/>
        <result column="dr_status" property="drStatus"/>
        <result column="dr_d_id" property="drDId"/>
    </resultMap>

    <!--基础sql字段-->
    <sql id="Base_Column_List">
        dr_id
        , dr_animal_id, dr_desc, dr_cure, dr_time, dr_status, dr_d_id
    </sql>
    <!--添加病症记录-->
    <insert id="insert" parameterType="diseaseRecord">
        insert into disease_record (dr_id, dr_animal_id, dr_desc,
                                    dr_cure, dr_time, dr_status,
                                    dr_d_id)
        values (#{drId}, #{drAnimalId}, #{drDesc},
                #{drCure}, #{drTime}, #{drStatus},
                #{drDId})
    </insert>
    <update id="updateByPrimaryKey" parameterType="diseaseRecord">
        update disease_record
        set dr_animal_id = #{drAnimalId},
            dr_desc      = #{drDesc},
            dr_cure      = #{drCure},
            dr_time      = #{drTime},
            dr_status    = #{drStatus},
            dr_d_id      = #{drDId}
        where dr_id = #{drId}
    </update>
    <delete id="deleteByPrimaryKey">
        delete
        from disease_record
        where dr_id = #{drId}
    </delete>
    <delete id="deleteBatch">
        delete from disease_record
        where dr_id in
        <foreach collection="deleteIds" separator="," open="(" close=")" item="drId">
            #{drId}
        </foreach>
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from disease_record
        where dr_id = #{drId}
    </select>

</mapper>
